<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Klevu\FrontendMetadata\ViewModel\PageMeta">
        <arguments>
            <argument name="isEnabledConditions" xsi:type="array">
                <item name="klevu_modules_enabled" xsi:type="array">
                    <item name="klevu_recs_enabled"
                          xsi:type="object">Klevu\FrontendRecommendations\Service\IsEnabledCondition\IsRecommendationsEnabledCondition</item>
                </item>
            </argument>
        </arguments>
    </type>

</config>
